{% extends '@App/page.html.twig' %}

{% block title %} Illustration {% endblock %}

{% block body %}

    <div class="col-md-4 col-md-offset-4 text-center">
        <h1> {{ imageFormation.image.nom }}</h1>
        <hr>


        <img src=" {{ asset(imageFormation.image.url) }} " class="img-rounded" height="500"/><br><br>


        <a href="{{ path('formation') }}">
            <button  class="btn btn-experience">Retour Page Formation</button>
        </a>
    </div>

{% endblock %}


